@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  color-scheme: light dark;
  transition: background-color 0.3s, color 0.3s; 
}